@import "@catppuccin/palette/css/catppuccin.css";

:root {
  font-family:
    "JetBrains Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--ctp-mocha-text);
  background-color: var(--ctp-mocha-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root,
main {
  min-height: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 1024px;
}

h1 {
  font-size: 3.2em;
  color: var(--ctp-mocha-mauve);
}


nav {
  font-weight: 500;
  text-decoration: inherit;
  display: flex;
}

nav > * {
  padding-right: 1em;
}

.directory {
    color: var(--ctp-mocha-blue);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.cursor {
  animation: blink 0.75s step-end infinite;
  color: var(--ctp-mocha-rosewater);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*
* Style Guide Styles
*/
.lineout {
  margin-top: 0.5rem;
  display: block;
}

.lineout * {
  display: inline;
}

.linein__input {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  caret-color: var(--ctp-mocha-rosewater);
  caret-shape: block;
}

.fileDir {
  text-decoration: none;
  color: var(--ctp-mocha-green);
}

.fileDir:hover {
  text-decoration: none;
  color: var(--ctp-mocha-green);
}

/*
* View specific styles
*/

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.home.container {
  text-align: start;
}
